body{
    background-color: hwb(75 36% 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
      gap: 100px;
}
.arrow{
    height: 150px;
    cursor: pointer;
}
.frame{
    width: 1000px;
    height: 700px;
    overflow: hidden;
    box-shadow: -1PX 1PX 10px rgba(0, 0, 0, 0.5);
}
.slider{
    display: flex;
    transition: all 1s ease;

}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}